*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding:0;
}

/* Shared styles */
.text_grey{
    color: #727272;
}
.section_title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
.btn-primary{
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #db8018; 
    color: white;
    font-weight: 600;
}

/* Header start */
.header{
    background-color: antiquewhite;
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menulist{
    display: flex;
    
}
.menulist li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
.menulist li a{
    text-decoration: none;
    color: #424242;
}

.banner{
    padding: 80px 0;
    text-align: center;
}
.banner_title{
    font-size: 3rem;
}
.banner .btn-primary{
    margin: 20px 0;
}
.banner img{
    width: 100%;
}


/* Main styles */
main{
    max-width:1440px;
    margin: 70px auto;
}
.teams_container{
    display: flex;
    align-items: center;
}
.teams_image_container{
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    gap:1.5rem;
}
.teams_Content{
    padding-right:70px;
    padding-left: 70px;
}
.teams_title{
    font-size: 2.8rem;
    margin: 20px 0;
}
.teams_title .quick_list{
    color: #727272;
    font-weight: 500;
}
.text_features{
    color: #FF900E;
    font-weight: 700;
}

/* Features section */
.features_container{
    display: flex;
    gap: 50px;
    margin: 100px 0;
}
.feature_content h3{
    border-left: 5px solid orange; 
    padding-left:15px;
    margin-bottom: 20px;;
}

/* Fatcs section */
.facts{
    margin: 100px 0;
}
.facts_card_container{
    display: flex;
    justify-content: space-around;
   
}
.facts_card_container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    
}
.facts_card_container .card_title{
    font-weight: 600;
    font-size: 1.25rem; 
}
.facts_card_container .card_stats{
    font-size: 2.8rem; 
    color: #424242;
    margin-top: 10px;
    margin-bottom:10px;
    
}
.facts h3{
    text-align: center;
    margin-bottom: 20px;
}
.facts p{
    text-align: center;
    margin-bottom: 40px;
}

/* Sponsors */
.sponsors{
    text-align: center;
    margin: 100px 0;
}
.sponsors_img_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:40px;
}
.sponsors_img_container img{
    width: 165px;
}
.sponsors h3{
    text-align: center;
    margin-bottom: 20px;
}
.sponsors p{
    text-align: center;
    margin-bottom: 40px;
}

footer p{
    text-align: center;
}

/* ************************************** */

@media screen and (max-width:576px) {
    .header{
        padding: 50px 40px;
    }
    /* .header {
        display: block;
        text-align: center;
    } */
    .header h3{
        padding: 20px 0;
    }
   .menulist{
    justify-content: center;
    padding-bottom: 20px;
    gap:10px;
    
   }

 
   .menulist li a{
    color: black;
   }
   nav, .teams_container, .facts_card_container, .sponsors_img_container{
    flex-direction: column;
}
.teams_image_container{
    grid-template-columns: 1fr;
}
.teams_Content, .facts_card_container{
    padding-right:20px;
    padding-left: 20px;
}
.facts_card_container{
    gap:20px;
}



}
@media screen and (min-width:576px) and (max-width:960px) {
    nav, .teams_container, .sponsors_img_container{
        flex-direction: column;
    }
    
}